@import './index.scss';

.side_bar {
  margin: 32px;
  form {
    @extend %flex-central;
    input {
      padding: 14px;
      border-radius: 10px;
      border: 0;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: $secondary-color;
      border: none;
      padding: 14px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: $primary-color-light;
      }
      &:active {
        background-color: $primary-color;
      }
    }
  }

  .side_bar_history {
    .history {
      margin-top: 16px;
      width: 284px;
      height: 44px;
      line-height: 44px;
      border-radius: 10px;
      background-color: $secondary-color;
      cursor: pointer;
      h3 {
        margin-left: 16px;
      }
      &:hover {
        background-color: $primary-color-light;
      }
      &:active {
        background-color: $primary-color;
      }
    }
  }
}
